<!DOCTYPE html>
<html>
  <head>
    <title>Minigram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
      UPLOADCARE_PUBLIC_KEY = "36ef48196fdf286a1f0b";
    </script>
    <script charset="utf-8" src="//ucarecdn.com/libs/widget/3.1.1/uploadcare.full.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
